*{
    background-color: #dfefff;

}
nav{
    display: flex;
    justify-content: center;
    margin: 1rem;

}
a{
    border-right: 2px rgb(26, 25, 25) solid;
    padding: 1rem;
    text-decoration: none;
    color: rgb(125, 18, 18);
    font-family: "Times New Roman", Times, serif;
    transition: color .5s;
}

a:hover{
    color: #8ab3e3;
}
h2{
    font-size: 100%;
font-weight: normal;
color: crimson;
font-size: 4rem;
}
article{
    border: 2px rgb(15, 15, 15) solid;
   background-color: rgb(179, 211, 220);
   padding: 2rem;
   }
div{
    display: flex;
    justify-content: space-between;
    gap: 4%;
    margin-bottom: 1rem;
}
.Meny article{
 flex-basis: 32%;
}
h1{
    font-weight: bold;
    color: crimson;
}
h4{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(75, 73, 73);
}
.text2{
font-style: normal;
font-size: 28px;
font-weight: normal;
text-decoration: none;
color: rgb(146, 10, 10);
letter-spacing: normal;
line-height: 1;
margin-right: 2rem;
}
.text3{
    font-family: "Volkhov", "Open Sans", "Helvetica Neue", "Helvetica", "sans-serif";
font-style: normal;
font-size: 18px;
font-weight: normal;
text-decoration: none;
color: rgb(59, 60, 61);
letter-spacing: normal;
}
body {
    margin: 10px;
  }
    .box {
      background-color: rgb(168, 191, 205);
      border-radius: 5px;
      padding: 100px;
      font-size: 150%;
      margin: 7px auto 0;
  
    }
    .e {
      grid-column: 1 / 6;
      grid-row: 3;
    }
.img{

    margin-left: 290px;
    width: 150px;
    height: 300px;
}
.adress{
    justify-content: right;
    font-size: large;
    color: blue;
}
.grid-container *{
    border: 4px rgb(10, 10, 10) solid;
}
.grid-container{
    display: grid;
    grid-template-columns: 20%;
    grid-template-rows:  3rem;
}
footer{
    grid-column: 1/5;
    grid-row: 5/6; 
}
